<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yiyang.spotCheck.mapper.TProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.yiyang.spotCheck.entity.TProductEntity">
        <id column="ID" property="id" />
        <result column="FACTORY_ID" property="factoryId" />
        <result column="DIVISION_ID" property="divisionId" />
        <result column="PRODUCT_NAME" property="productName" />
        <result column="PRODUCT_TYPE" property="productType" />
        <result column="PACKING_SPECIFICATION" property="packingSpecification" />
        <result column="MINIMUM_PRICE" property="minimumPrice" />
        <result column="TAX_INCLUSIVE_RETAIL_PRICE" property="taxInclusiveRetailPrice" />
        <result column="REMARK" property="remark" />
        <result column="CREATE_USER_ID" property="createUserId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_USER_ID" property="updateUserId" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="RESERVE_FILED_1" property="reserveFiled1" />
        <result column="RESERVE_FILED_2" property="reserveFiled2" />
        <result column="RESERVE_FILED_3" property="reserveFiled3" />
    </resultMap>

</mapper>
